[Unit]
Description=First Start (builds certs for sendmail)
Before=sendmail.service

[Service]
Type=oneshot
EnvironmentFile=-/runonce.env
ExecStart=/usr/local/sbin/runonce

[Install]
WantedBy=multi-user.target
